body{
	background-color: aqua;
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 27pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 50%;
}
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
#blue{
	color: #093e5a;
}
#green{
	color: #013d20;
}
#red{
	color: #630813;
}
#yellow{
	color: #9e7818;
}